.gird{
    width: 100%;
    margin: 0 auto;
    margin-left: 5px;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 5px;
}
.grid__row-4 {
    padding-left: 2px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 24.9%;
}

